.footer {
    /* Define a estilização do footer */
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Define a estilização do conteúdo do footer */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-nav {
    display: flex;
    gap: 20px;
  }
  
  .footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-nav a:hover {
    color: white;
    text-decoration: underline;
  }

/* Responsividade */
@media (max-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}